<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
    <title>Search</title>
</head>

<body>
    <header>
        <%- include('../../layout/header.ejs')%>
    </header>
    <main>
        <form action="/searches" method="post">
            <label for="title">Title</label>
            <input type="radio" id="title" value="title" name="search">
            <label for="author">author</label>
            <input type="radio" id="author" value="author" name="search">
            <input type="text" name="inputName">
            <button>Search</button>
        </form>
    </main>
    <script src="../js/book.js"></script>
</body>

</html>