<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Lookup books</title>
</head>
<body>
    <header>
        <h1>Find a book</h1>
    </header>
    <main>
        <form action="/searches" method="post">
            <!-- <input type="radio"> -->
            <select>
                <option name="S2">Author</option>
                <option name="S2">Title</option>
            </select>
            <input type="text" name="mmd">
            <button>Search</button>
        </form>
    </main>
</body>
</html>