<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/base.css">
    <title>Lookup books</title>
</head>
<body>
    <header>
        <h1>Find a book</h1>
    </header>
    <main>
        <form action="/searches" method="post">
            <label for="title">Title</label>
            <input type="radio" id="title" value="title" name="S2">
            <label for="author">author</label>
            <input type="radio" id="author" value="author" name="S2">
            <input type="text" name="inputName">
            <button>Search</button>
        </form>
    </main>
</body>
</html>