<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/base.css">
    <title>show Page</title>
</head>

<body>
    <main>
        <ul>
            <% bookDetails.forEach(item=>{ %>
                <li>
                    <img src="<%= item.thumnail %>">
                </li>
                <li>
                   <%= item.BookTitle %>
                </li>
                <li>
                   <%= item.AuthorName %>
                </li>
                <li>
                   <%= item.BookDescription %>
                </li>
            <% }); %>
        </ul>
    </main>
</body>

</html>