<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/base.css">
    <title>Book</title>
</head>
<body>
    <header>
        <h1>Books</h1>
        <a href="/search/new">click me</a>
        <a href="/searches">find books</a>
    </header>
    <main>
        
    </main>
    <footer>

    </footer>
</body>
</html>