<h1 class="h1-H">Books</h1>
<i id="burger" class="material-icons" onclick="burger()">menu</i>
<i id="quit" class="material-icons" onclick="quit()">clear</i>
<div id="links">
    <a href="/">Home</a>
    <a href="/search/new">Search</a>
</div>